<!DOCTYPE html>
<html>
  <%- include('./head'); -%>
  <body>
    <div class="login-card">
      <h1><%= title %></h1>
      <form
        autocomplete="off"
        action="/interaction/<%= uid %>/login"
        method="post"
      >
        <label>Email</label>
        <input
          required
          type="text"
          name="email"
          placeholder="Enter your email"
          value="bob@test.com"
        />
        <label>Password</label>
        <input
          required
          type="password"
          name="password"
          placeholder="and password"
          value="fish"
        />

        <button type="submit" class="login login-submit">Sign-in</button>
      </form>
      <div class="login-help">
        <a href="/interaction/<%= uid %>/abort">[ Cancel ]</a>
      </div>

      <a href="/interaction/<%= uid %>/google">Sign in with Google</a>
    </div>
  </body>
</html>
